/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Nov-2015, 8:16:59 PM
    Author     : Fuyu
*/

h1{
    font-family: Gotham, Helvetica Neue, Helvetica, sans-serif;
    color: #330099;
}
body{
    font-family: Babas, Helvetica Neue, Helvetica, sans-serif;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.signin{
    font-family: Gotham, Helvetica Neue, Helvetica, sans-serif;
}

.form-lbl{
    font-family: Gotham, Helvetica Neue, Helvetica, sans-serif;
}
